@CHARSET "ISO-8859-1";

body{
	background-color:#ECF3FD;
}

.conteiner {
	width: :350px;
	margin-left: auto;
	margin-right: :auto;
	margin-top: 10%;
}

.ui-state-default .icon-login{
	background-image: url("../resource/img/login.png");
}